/* reset */
.tog,
.screen-reader-text {display: none;}

/* layout */
.header-inner,
.site-content,
.footer-inner {width: 92%;max-width: 1100px;margin: 0 auto;}

.sidebar {width: 24%;float: right;padding: 31px 0 0 0;}
.content-area {width: 72%;float: left;}

/* header */

.header-inner {padding: 20px 0;position: relative;}
.site-title {padding: 0 0 20px 0;}
.site-title a {display: block;width: 210px;}

.header-inner .searchform {position: absolute;right: 0;top: 68px;}

.gnb {}
.gnb .menu-gnb-container {float: left;}
.gnb .menu-gnb-container .menu > li {display: block;float: left;}
.gnb .menu-gnb-container .menu > li > a {color: #2d4146;font-size: 17px;font-weight: bold;padding: 15px 17px;display: block;}
.gnb .menu-gnb-container .menu > li.current-menu-item > a,
.gnb .menu-gnb-container .menu > li.current-post-ancestor > a {background: #02aecc;color: #fff}

.gnb .menu-gnb-second-container {float: right;font-size: 14px;}
.gnb .menu-gnb-second-container .menu > li {display: block;float: left;}
.gnb .menu-gnb-second-container .menu > li > a {padding: 16px 15px;display: block;}


/* main */


/* body */

.site-content {}

/* footer */


/* 페이지 */


@media only screen and (max-width:640px){
	.header-inner,
	.content-area,
	.footer-inner {width: 92%;}

	.site-title a {}

	.gnb {position: absolute;top: -2px;left: -90%;width: 80%;background: #716859; text-align: center;z-index: 100000000;opacity: 0.95;-webkit-box-shadow: 2px 0 2px 2px rgba(0, 0, 0, .2);box-shadow: 2px 0 2px 2px rgba(0, 0, 0, .2);background-size: 70% auto;padding: 95px 0 0 0;-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	height: 100%;}
	.on .gnb {left: -5%;}
	.gnb .menu {padding: 0 10%;}
	.gnb .menu > li {float: none;display: block;width: 100%;border-bottom: 1px solid #8d867a;}
	.gnb .menu > li a {color: #fff;}
	.gnb .menu > li .sub-menu {position: relative;display: block;background: none;top: 0;left: 0;border:0;}
	.gnb .lang {position: relative;top: 0;left: 0;width: 100%;padding: 30px 0 0 0;}
	.gnb .menu > li.hover > a {background: none;}
	.gnb .menu > li .sub-menu a:hover {background: none;}

}
