@media print {
	@page {
		size: 210mm 297mm;
		margin: 5mm;
	}
	body { zoom:75%;}

	.site-header,
	.liked {display: none;}
	// .view {
	// 	&-info {
	// 		.info {
	// 			.inner {height: 500px}
	// 			// .price-usd {font-size: 32px;}
	// 			// .price-krw {font-size: 24px}
	// 		}
	// 		// .gal {
	// 		// 	.colgal {
	// 		// 		.sliders {
	// 		// 			li {
	// 		// 				img {width:450px;height: auto;margin:0 auto;display: block;}
	// 		// 			}
	// 		// 		}
	// 		// 	}
	// 		// }
	// 	}
	// }
}
