@import 'normalize.css';
@import 'open-color.scss';
@import 'sns-color.scss';

@mixin spr($width,$height,$bg) {width:$width;height:$height;background:url($bg) no-repeat 0 0;display:block;text-indent:-9999px;overflow:hidden; }

@mixin cf {*zoom: 1;&:before{content: " ";display: table;}&:after{content: " ";display: table;clear: both;}}

/*=============================================
LAYOUT
=============================================*/

/* reset */
.tog,
.screen-reader-text {display: none;}

/* layout */
.header-inner,
.site-content,
.footer-inner {width: 92%;max-width: 920px;margin: 0 auto; @include cf;}

.content-area {}

/* header */
.site-header {
	.header-inner {

	}

	.searchform {}
}
.site-title {

	a {

	}
}

.gnb {
	.menu-gnb-container {

		.menu {
			text-align: center;

			> li {display: inline-block;position: relative;}
			> li > a {display: block}
			> li.hover > a {}
			> li.current-menu-item > a,
			> li.current-page-parent > a,
			> li.current-post-ancestor > a {}

			.sub-menu {
				display: none;
				position: absolute;width: 250px;top: 58px;left: 50%;margin-left: -125px;padding:10px 0;border-radius:0 0 3px 3px;z-index: 100;

				li {
					a {color: #fff;text-align: center;display: block;padding: 5px 0}
				}
			}
		}
	}
}

/* main */

/* body */
.site-content {}

/* footer */

.site-footer {
	.footer-inner {

	}
}

.site-info {

}

.site-copyright {

}

.footer-menu {

	.menu {}
}

/* 페이지 */


/* =============================================
ELEMENT
============================================= */

/* search form */
.searchform {
	width: 206px;border:2px solid #ddd;overflow: hidden;

	.search-field {}
	.search-submit {
		i {}
	}
}

/* no result */
.no-results {
	.page-content {
		padding: 50px 0;text-align: center;

		p {padding: 0 0 20px 0;}
		.searchform {margin: 0 auto;}
	}
}

/* title module */
.entry-header {
	position: relative;

	.entry-title,
	.page-title {
		font-size: 28px;padding: 20px 0;
	}
}

/* breadcrumbs */
.breadcrumbs {
	font-size: 12px;

	span,
	a {color: inherit;}
	i {padding: 0 2px;}
}

.entry-content {min-height: 800px}

/* list module */
.catlist {overflow: hidden; }

.lm {

	.img {width: 30%;float: left;}
	.cont {width: 68%;float: right;}
	.cont.noimg {float: none;width: 100%;}
	h1 {font-size: 17px;padding: 0 0 5px 0;}
	.txt {
		font-size: 13px;color: #666;

		* {color: inherit;}
	}
	.date {font-size: 12px;color: #999;padding: 15px 0 0 0;}
}

/* single module */
.post-single {

	.entry-header {
	}
	.entry-meta {
		> span {padding: 0 8px 0 0;color: #999;}
	}

	.entry-share {

		i {font-size: 18px;}
		i.xi-facebook {color: $facebook;}
		i.xi-twitter {color: $twitter;}
		i.xi-social-print {color: #999;}
	}

	.entry-footer {
	}
}

@import 'editor.scss';
@import 'mobile.scss';
@import 'print.scss';
