@charset "UTF-8";
@import url(normalize.css);
/*=============================================
LAYOUT
=============================================*/
/* reset */
.tog,
.screen-reader-text {
  display: none; }

/* layout */
.header-inner,
.site-content,
.footer-inner {
  width: 92%;
  max-width: 920px;
  margin: 0 auto;
  *zoom: 1; }
  .header-inner:before,
  .site-content:before,
  .footer-inner:before {
    content: " ";
    display: table; }
  .header-inner:after,
  .site-content:after,
  .footer-inner:after {
    content: " ";
    display: table;
    clear: both; }

/* header */
.site-header {
  border-bottom: 2px solid #417505; }

.header-inner {
  padding: 35px 0 0 0;
  position: relative;
  margin: 0 auto; }

.site-title {
  padding: 0 0 20px 0; }

.site-title a {
  display: block;
  width: 300px;
  margin: 0 auto; }

.header-inner .searchform {
  position: absolute;
  right: 0;
  top: 68px; }

.gnb .menu-gnb-container .menu {
  text-align: center; }
  .gnb .menu-gnb-container .menu > li {
    display: inline-block;
    position: relative; }
  .gnb .menu-gnb-container .menu > li > a {
    color: #2d4146;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 35px 25px;
    display: block; }
  .gnb .menu-gnb-container .menu > li.hover > a {
    color: #8CB93D; }
  .gnb .menu-gnb-container .menu > li.current-menu-item > a,
  .gnb .menu-gnb-container .menu > li.current-page-parent > a,
  .gnb .menu-gnb-container .menu > li.current-post-ancestor > a {
    color: #417505;
    border-bottom: 3px solid #417505;
    padding-bottom: 22px; }
  .gnb .menu-gnb-container .menu > li.blog:after {
    content: "\e820";
    font-family: xeicon;
    position: absolute;
    top: 19px;
    right: 13px;
    font-size: 13px;
    background: #8CB93D;
    padding: 2px;
    border-radius: 1px;
    line-height: 1;
    color: #fff; }
  .gnb .menu-gnb-container .menu .sub-menu {
    display: none;
    position: absolute;
    width: 250px;
    top: 58px;
    left: 50%;
    margin-left: -125px;
    background: #417505;
    padding: 10px 0;
    border-radius: 0 0 3px 3px;
    z-index: 100;
    border-top: 5px solid #fff; }
    .gnb .menu-gnb-container .menu .sub-menu li {
      font-size: 13px;
      display: block;
      float: left;
      width: 50%; }
      .gnb .menu-gnb-container .menu .sub-menu li a {
        color: #fff;
        text-align: center;
        display: block;
        padding: 5px 0; }
      .gnb .menu-gnb-container .menu .sub-menu li a:hover {
        color: #CFD272; }

/* main */
/* body */
/* footer */
.site-footer {
  background: #417505;
  border-top: 1px solid #417505; }
  .site-footer .footer-inner {
    padding: 25px 0;
    *zoom: 1; }
    .site-footer .footer-inner:before {
      content: " ";
      display: table; }
    .site-footer .footer-inner:after {
      content: " ";
      display: table;
      clear: both; }

.site-info {
  width: 32%;
  float: right;
  font-size: 14px;
  color: #fff;
  line-height: 1.9; }
  .site-info h1 {
    font-size: 14px;
    color: #CFD272;
    padding: 0 0 5px 0; }
  .site-info i {
    background: #8CB93D;
    padding: 3px;
    border-radius: 2px;
    margin: 0 3px 0 0; }
  .site-info a {
    color: inherit; }

.site-copyright {
  width: 32%;
  font-size: 12px;
  padding: 35px 0 0 0;
  color: #fff;
  float: right; }

.footer-menu {
  width: 60%;
  float: left;
  padding: 4px 0 0 0; }
  .footer-menu .menu {
    *zoom: 1; }
    .footer-menu .menu:before {
      content: " ";
      display: table; }
    .footer-menu .menu:after {
      content: " ";
      display: table;
      clear: both; }
    .footer-menu .menu > li {
      display: block;
      float: left;
      width: 20%;
      font-size: 12px; }
    .footer-menu .menu > li > a {
      font-size: 14px;
      font-weight: bold;
      display: block;
      padding: 0 0 10px 0;
      color: #fff; }
    .footer-menu .menu li.blog {
      display: none; }
    .footer-menu .menu .sub-menu li a {
      display: block;
      padding: 3px 0;
      color: #8CB93D; }
    .footer-menu .menu .sub-menu li a:hover {
      color: #fff; }

/* 페이지 */
/* =============================================
ELEMENT
============================================= */
/* search form */
.searchform {
  width: 206px;
  border: 2px solid #ddd;
  overflow: hidden; }
  .searchform .search-field {
    height: 30px;
    width: 163px;
    float: left;
    border: 0;
    padding: 0 5px;
    line-height: 30px;
    font-family: inherit;
    outline: 0; }
  .searchform .search-submit {
    height: 31px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 19px; }
  .searchform .search-submit i {
    color: #ccc; }
  .searchform.on {
    border: 2px solid #417505; }
    .searchform.on .search-submit i {
      color: #417505; }

/* no result */
.no-results .page-content {
  padding: 50px 0;
  text-align: center; }
  .no-results .page-content p {
    padding: 0 0 20px 0; }
  .no-results .page-content .searchform {
    margin: 0 auto; }

/* title module */
.entry-header {
  position: relative; }
  .entry-header .entry-title,
  .entry-header .page-title {
    font-size: 28px;
    padding: 28px 0;
    font-weight: bold;
    color: #595A5C;
    text-align: center;
    position: relative; }
    .entry-header .entry-title:after,
    .entry-header .page-title:after {
      content: "";
      position: absolute;
      width: 200px;
      height: 1px;
      background: #8CB93D;
      bottom: 0;
      left: 50%;
      margin-left: -100px; }

/* breadcrumbs */
.breadcrumbs {
  font-size: 12px;
  padding: 0 0 10px 0;
  color: #666;
  position: absolute;
  top: 37px;
  left: 0; }
  .breadcrumbs span,
  .breadcrumbs a {
    color: inherit; }
  .breadcrumbs i {
    padding: 0 2px; }

.entry-content {
  padding: 25px 0;
  min-height: 600px; }

/* list module */
.catlist {
  overflow: hidden; }

.lm {
  margin: 10px 0 !important;
  padding: 14px 0;
  border-bottom: 1px solid #eee;
  overflow: hidden; }
  .lm .img {
    width: 30%;
    float: left; }
  .lm .cont {
    width: 68%;
    float: right; }
  .lm .cont.noimg {
    float: none;
    width: 100%; }
  .lm h1 {
    font-size: 17px;
    padding: 0 0 5px 0; }
  .lm .txt {
    font-size: 13px;
    color: #666; }
    .lm .txt * {
      color: inherit; }
  .lm .date {
    font-size: 12px;
    color: #999;
    padding: 15px 0 0 0; }

/* single module */
.post-single {
  padding: 0 0 40px 0; }
  .post-single .entry-header {
    border-bottom: 1px solid #ccc;
    position: relative; }
  .post-single .entry-meta {
    padding: 10px 0 15px;
    font-size: 12px; }
    .post-single .entry-meta > span {
      padding: 0 8px 0 0;
      color: #999; }
  .post-single .entry-share {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 9px 0; }
    .post-single .entry-share > span {
      cursor: pointer; }
    .post-single .entry-share i {
      font-size: 18px; }
    .post-single .entry-share i.xi-facebook {
      color: #43609C; }
    .post-single .entry-share i.xi-twitter {
      color: #55ACEE; }
    .post-single .entry-share i.xi-social-print {
      color: #999; }
  .post-single .entry-footer {
    background: #fafafa;
    padding: 5px 15px; }
  .post-single iframe {
    margin: 0 0;
    width: 100%; }

/*=============================================
MOBILE
=============================================*/
@media only screen and (max-width: 640px) {
  .header-inner,
  .content-area,
  .footer-inner {
    width: 92%; }
  .gnb {
    position: absolute;
    top: -2px;
    left: -90%;
    width: 80%;
    background: #716859;
    text-align: center;
    z-index: 100000000;
    opacity: 0.95;
    box-shadow: 2px 0 2px 2px rgba(0, 0, 0, 0.2);
    background-size: 70% auto;
    padding: 95px 0 0 0;
    transition: all .3s;
    height: 100%; }
    .gnb .menu {
      padding: 0 10%; }
    .gnb .menu > li {
      float: none;
      display: block;
      width: 100%;
      border-bottom: 1px solid #417505; }
    .gnb .menu > li a {
      color: #fff; }
    .gnb .menu > li .sub-menu {
      position: relative;
      display: block;
      background: none;
      top: 0;
      left: 0;
      border: 0; }
    .gnb .lang {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      padding: 30px 0 0 0; }
    .gnb .menu > li.hover > a {
      background: none; }
    .gnb .menu > li .sub-menu a:hover {
      background: none; }
    .on .gnb {
      left: -5%; } }
